.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
#lineBasic {
	min-width: 420px;
	max-width: 800px;
	height: 380px;
	margin: 0 auto
}
#columnBasic {
	min-width: 420px;
	max-width: 800px;
	height: 380px;
	margin: 0 auto
}
#pieBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#splineBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#areaBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#temperatureBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#areaStackedBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#areaInvertedBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#areaMissingBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#barBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#barNegativeStackBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#barStackBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#BellcurveBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#boxplotBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#BubbleBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#drilldownColumnBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#negativeColumnBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#placementColumnBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#rangeColumnBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#comboDualAxesBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#comboBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#columnStackedBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#columnStackGroupedBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}
#columnStackedPercentBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#comboBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#comboDualAxesBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#comboMultiAxesBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#comboRegressionBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#funnelBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#heatmapBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#histogramBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#lineBoostBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#lineLabelBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#parenToBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}
#donutPieBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}
#drillDownBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}
#monochromePieBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}
#semiCirclePieBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}
#polarBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#polarSpiderBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#polygonBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#pyramidBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}
#sankeyDiagramBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#scatterBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#scatterBoostBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#splineIrregularTimeBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#splinePlotBandsBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#splineSymbolsBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#streamgraphBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#treemapBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#treemapLevelBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}


#variablePieBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#variwideBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}
#vectorBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#waterFallBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#windbarbBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

#rangeBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto	
}

