#lineBasic {
	min-width: 380px;
	max-width: 800px;

	height: 400px;
	margin: 0 auto
}
#columnBasic {
	min-width: 420px;
	max-width: 800px;
	height: 380px;
	margin: 0 auto
}
#pieBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#splineBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#areaBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#temperatureBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#areaStackedBasic {
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#areaInvertedBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#areaMissingBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#barBasic{
		min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#barNegativeStackBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#barStackBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#BellcurveBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#boxplotBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#BubbleBasic{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#drilldownColumn{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#negativeColumn{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#PlacementColumn{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#rangeColumn{
	min-width: 420px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}