#lineBasic {
	min-width: 1380px;
	height: 400px;
	margin: 0 auto
}
#columnBasic {
	min-width: 380px;
	max-width: 800px;
	height: 380px;
	margin: 0 auto
}
#pieBasic {
	min-width: 380px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#splineBasic {
	min-width: 380px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}